USE [master]
GO
/****** Object:  Database [ParkingDB]    Script Date: 7/12/2026 5:58:40 AM ******/
CREATE DATABASE [ParkingDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ParkingDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\ParkingDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ParkingDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\ParkingDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ParkingDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ParkingDB]
GO
/****** Object:  User [parking_user]    Script Date: 7/12/2026 5:58:40 AM ******/
CREATE USER [parking_user] FOR LOGIN [parking_user] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [parking_user]
GO
/****** Object:  Table [dbo].[Vehicle]    Script Date: 7/12/2026 5:58:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vehicle](
	[plate_number] [char](11) NOT NULL,
	[entrance_time] [datetime] NULL,
	[brand] [varchar](30) NULL,
	[location] [char](4) NULL,
 CONSTRAINT [PK__Vehicle__87EF9F5850AC4323] PRIMARY KEY CLUSTERED 
(
	[plate_number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LogVehicle]    Script Date: 7/12/2026 5:58:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LogVehicle](
	[plate_number] [char](11) NOT NULL,
	[entrance_time] [datetime] NOT NULL,
	[exit_time] [datetime] NOT NULL,
	[cost_paid] [money] NULL,
	[location] [char](4) NULL,
 CONSTRAINT [PK__LogVehic__7AADEEF818E887C1] PRIMARY KEY CLUSTERED 
(
	[plate_number] ASC,
	[entrance_time] ASC,
	[exit_time] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[VIEW_RecentActivity]    Script Date: 7/12/2026 5:58:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VIEW_RecentActivity]
AS
SELECT plate_number, 'entry' AS action, entrance_time AS event_time, location AS spot FROM Vehicle
UNION ALL
SELECT plate_number, 'entry' AS action, entrance_time AS event_time, location AS spot FROM LogVehicle
UNION ALL
SELECT plate_number, 'exit' AS action, exit_time AS event_time, location AS spot FROM LogVehicle;
GO
/****** Object:  Table [dbo].[Account]    Script Date: 7/12/2026 5:58:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[username] [varchar](20) NOT NULL,
	[password] [nvarchar](20) NOT NULL,
	[full_name] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Admin]    Script Date: 7/12/2026 5:58:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admin](
	[username] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CostPolicy]    Script Date: 7/12/2026 5:58:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CostPolicy](
	[costID] [int] IDENTITY(1,1) NOT NULL,
	[entrance_fee] [money] NULL,
	[hourly_fee] [money] NULL,
	[managed_by] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[costID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LogTraffic]    Script Date: 7/12/2026 5:58:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LogTraffic](
	[username] [varchar](20) NOT NULL,
	[event_time] [datetime] NOT NULL,
	[action_description] [varchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[username] ASC,
	[event_time] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Operator]    Script Date: 7/12/2026 5:58:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Operator](
	[username] [varchar](20) NOT NULL,
	[join_date] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Owner]    Script Date: 7/12/2026 5:58:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Owner](
	[username] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ShiftManagement]    Script Date: 7/12/2026 5:58:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShiftManagement](
	[shiftID] [int] IDENTITY(1,1) NOT NULL,
	[operatorID] [varchar](20) NOT NULL,
	[shiftDate] [date] NOT NULL,
	[shiftType] [varchar](10) NOT NULL,
	[status] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[shiftID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_ShiftManagement_Slot] UNIQUE NONCLUSTERED 
(
	[operatorID] ASC,
	[shiftDate] ASC,
	[shiftType] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ShiftRequest]    Script Date: 7/12/2026 5:58:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShiftRequest](
	[requestID] [int] IDENTITY(1,1) NOT NULL,
	[currentShiftID] [int] NOT NULL,
	[requestedShiftID] [int] NULL,
	[operatorusername] [varchar](20) NOT NULL,
	[requestType] [varchar](20) NOT NULL,
	[reason_comment] [varchar](255) NULL,
	[status] [varchar](20) NOT NULL,
	[requestDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[requestID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ShiftReview]    Script Date: 7/12/2026 5:58:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShiftReview](
	[reviewID] [int] IDENTITY(1,1) NOT NULL,
	[requestID] [int] NOT NULL,
	[ownerID] [varchar](20) NOT NULL,
	[decision] [varchar](20) NOT NULL,
	[feedback] [varchar](255) NULL,
	[reviewDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[reviewID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Spot]    Script Date: 7/12/2026 5:58:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Spot](
	[location] [char](4) NOT NULL,
 CONSTRAINT [PK__Spot__412AE05DCFC0B868] PRIMARY KEY CLUSTERED 
(
	[location] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WagePolicy]    Script Date: 7/12/2026 5:58:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WagePolicy](
	[wageID] [int] IDENTITY(1,1) NOT NULL,
	[hourly_wage] [money] NULL,
	[deduction_rate] [money] NULL,
	[managed_by] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[wageID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ShiftManagement] ADD  DEFAULT ('Scheduled') FOR [status]
GO
ALTER TABLE [dbo].[ShiftRequest] ADD  DEFAULT ('ShiftChange') FOR [requestType]
GO
ALTER TABLE [dbo].[ShiftRequest] ADD  DEFAULT ('Pending') FOR [status]
GO
ALTER TABLE [dbo].[ShiftRequest] ADD  DEFAULT (getdate()) FOR [requestDate]
GO
ALTER TABLE [dbo].[ShiftReview] ADD  DEFAULT (getdate()) FOR [reviewDate]
GO
ALTER TABLE [dbo].[Admin]  WITH CHECK ADD FOREIGN KEY([username])
REFERENCES [dbo].[Account] ([username])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CostPolicy]  WITH CHECK ADD FOREIGN KEY([managed_by])
REFERENCES [dbo].[Owner] ([username])
ON UPDATE CASCADE
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Operator]  WITH CHECK ADD FOREIGN KEY([username])
REFERENCES [dbo].[Account] ([username])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Owner]  WITH CHECK ADD FOREIGN KEY([username])
REFERENCES [dbo].[Account] ([username])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ShiftManagement]  WITH CHECK ADD  CONSTRAINT [FK_ShiftManagement_Operator] FOREIGN KEY([operatorID])
REFERENCES [dbo].[Operator] ([username])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ShiftManagement] CHECK CONSTRAINT [FK_ShiftManagement_Operator]
GO
ALTER TABLE [dbo].[ShiftRequest]  WITH CHECK ADD  CONSTRAINT [FK_ShiftRequest_CurrentShift] FOREIGN KEY([currentShiftID])
REFERENCES [dbo].[ShiftManagement] ([shiftID])
GO
ALTER TABLE [dbo].[ShiftRequest] CHECK CONSTRAINT [FK_ShiftRequest_CurrentShift]
GO
ALTER TABLE [dbo].[ShiftRequest]  WITH CHECK ADD  CONSTRAINT [FK_ShiftRequest_Operator] FOREIGN KEY([operatorusername])
REFERENCES [dbo].[Operator] ([username])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ShiftRequest] CHECK CONSTRAINT [FK_ShiftRequest_Operator]
GO
ALTER TABLE [dbo].[ShiftRequest]  WITH CHECK ADD  CONSTRAINT [FK_ShiftRequest_RequestedShift] FOREIGN KEY([requestedShiftID])
REFERENCES [dbo].[ShiftManagement] ([shiftID])
GO
ALTER TABLE [dbo].[ShiftRequest] CHECK CONSTRAINT [FK_ShiftRequest_RequestedShift]
GO
ALTER TABLE [dbo].[ShiftReview]  WITH CHECK ADD  CONSTRAINT [FK_ShiftReview_Owner] FOREIGN KEY([ownerID])
REFERENCES [dbo].[Owner] ([username])
GO
ALTER TABLE [dbo].[ShiftReview] CHECK CONSTRAINT [FK_ShiftReview_Owner]
GO
ALTER TABLE [dbo].[ShiftReview]  WITH CHECK ADD  CONSTRAINT [FK_ShiftReview_Request] FOREIGN KEY([requestID])
REFERENCES [dbo].[ShiftRequest] ([requestID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ShiftReview] CHECK CONSTRAINT [FK_ShiftReview_Request]
GO
ALTER TABLE [dbo].[Vehicle]  WITH CHECK ADD  CONSTRAINT [FK__Vehicle__locatio__4CA06362] FOREIGN KEY([location])
REFERENCES [dbo].[Spot] ([location])
ON UPDATE CASCADE
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Vehicle] CHECK CONSTRAINT [FK__Vehicle__locatio__4CA06362]
GO
ALTER TABLE [dbo].[WagePolicy]  WITH CHECK ADD FOREIGN KEY([managed_by])
REFERENCES [dbo].[Owner] ([username])
ON UPDATE CASCADE
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[ShiftManagement]  WITH CHECK ADD  CONSTRAINT [CK_ShiftManagement_ShiftType] CHECK  (([shiftType]='Night' OR [shiftType]='Evening' OR [shiftType]='Morning'))
GO
ALTER TABLE [dbo].[ShiftManagement] CHECK CONSTRAINT [CK_ShiftManagement_ShiftType]
GO
ALTER TABLE [dbo].[ShiftManagement]  WITH CHECK ADD  CONSTRAINT [CK_ShiftManagement_Status] CHECK  (([status]='Cancelled' OR [status]='Completed' OR [status]='Scheduled'))
GO
ALTER TABLE [dbo].[ShiftManagement] CHECK CONSTRAINT [CK_ShiftManagement_Status]
GO
ALTER TABLE [dbo].[ShiftRequest]  WITH CHECK ADD  CONSTRAINT [CK_ShiftRequest_Status] CHECK  (([status]='Rejected' OR [status]='Approved' OR [status]='Pending'))
GO
ALTER TABLE [dbo].[ShiftRequest] CHECK CONSTRAINT [CK_ShiftRequest_Status]
GO
ALTER TABLE [dbo].[ShiftReview]  WITH CHECK ADD  CONSTRAINT [CK_ShiftReview_Decision] CHECK  (([decision]='Rejected' OR [decision]='Pending' OR [decision]='Accepted'))
GO
ALTER TABLE [dbo].[ShiftReview] CHECK CONSTRAINT [CK_ShiftReview_Decision]
GO
/****** Object:  StoredProcedure [dbo].[RegisterVehicleExit]    Script Date: 7/12/2026 5:58:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/* Update Procedure for show the location in vehicle exit in recent activity */
CREATE PROCEDURE [dbo].[RegisterVehicleExit]
    @plate_number CHAR(11)
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON;

    DECLARE @entrance_time DATETIME;
    DECLARE @exit_time DATETIME = GETDATE();
    DECLARE @location CHAR(4);
    DECLARE @entrance_fee MONEY;
    DECLARE @hourly_fee MONEY;
    DECLARE @duration_hours INT;
    DECLARE @total_cost MONEY;

    
    SELECT @entrance_time = entrance_time, @location = location
    FROM Vehicle 
    WHERE plate_number = @plate_number;

    IF @entrance_time IS NULL
    BEGIN
        RAISERROR('This Vehicle not found in the parking!', 16, 1);
        RETURN;
    END

    
    SELECT TOP 1 @entrance_fee = entrance_fee, @hourly_fee = hourly_fee 
    FROM CostPolicy 
    ORDER BY costID DESC;

    
    IF @entrance_fee IS NULL OR @hourly_fee IS NULL
    BEGIN
        RAISERROR('No tariff is defined in the database!', 16, 1);
        RETURN;
    END

    
    SET @duration_hours = CEILING(DATEDIFF(MINUTE, @entrance_time, @exit_time) / 60.0);

    
    IF @duration_hours < 1
        SET @duration_hours = 1;

   
   
    SET @total_cost = @entrance_fee + ((@duration_hours - 1) * @hourly_fee);

    BEGIN TRANSACTION;
    BEGIN TRY
        
        INSERT INTO LogVehicle (plate_number, entrance_time, exit_time, cost_paid, location)
        VALUES (@plate_number, @entrance_time, @exit_time, @total_cost, @location);

        
        DELETE FROM Vehicle WHERE plate_number = @plate_number;

        COMMIT TRANSACTION;

        
        SELECT 
            @entrance_time AS EntranceTime,
            @exit_time AS ExitTime,
            @duration_hours AS DurationHours,
            @total_cost AS TotalCost;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;
        THROW;
    END CATCH
END;

GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1176
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1356
         SortOrder = 1416
         GroupBy = 1350
         Filter = 1356
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'VIEW_RecentActivity'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'VIEW_RecentActivity'
GO
USE [master]
GO
