/* This file is intended for team members to access the integrated database schema */
/* Execute this file in your SSMS so that the DB create*/


USE [master]
GO
/****** Object:  Database [ParkingDB]    Script Date: 7/7/2026 10:52:38 PM ******/
CREATE DATABASE [ParkingDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ParkingDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\ParkingDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ParkingDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\ParkingDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ParkingDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ParkingDB]
GO
/****** Object:  User [parking_user]    Script Date: 7/7/2026 10:52:38 PM ******/
CREATE USER [parking_user] FOR LOGIN [parking_user] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [parking_user]
GO
/****** Object:  Table [dbo].[Vehicle]    Script Date: 7/7/2026 10:52:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vehicle](
	[plate_number] [char](11) NOT NULL,
	[entrance_time] [datetime] NULL,
	[brand] [varchar](30) NULL,
	[location] [char](4) NULL,
 CONSTRAINT [PK__Vehicle__87EF9F5850AC4323] PRIMARY KEY CLUSTERED 
(
	[plate_number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LogVehicle]    Script Date: 7/7/2026 10:52:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LogVehicle](
	[plate_number] [char](11) NOT NULL,
	[entrance_time] [datetime] NOT NULL,
	[exit_time] [datetime] NOT NULL,
	[cost_paid] [money] NULL,
 CONSTRAINT [PK__LogVehic__7AADEEF818E887C1] PRIMARY KEY CLUSTERED 
(
	[plate_number] ASC,
	[entrance_time] ASC,
	[exit_time] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[VIEW_RecentActivity]    Script Date: 7/7/2026 10:52:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VIEW_RecentActivity] AS
SELECT
    plate_number,
    'entry' AS action,
    entrance_time AS event_time,
    location AS spot
FROM Vehicle

UNION ALL

SELECT
    plate_number,
    'exit' AS action,
    exit_time AS event_time,
    NULL AS spot
FROM LogVehicle;
GO
/****** Object:  Table [dbo].[Account]    Script Date: 7/7/2026 10:52:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[username] [varchar](20) NOT NULL,
	[password] [nvarchar](20) NOT NULL,
	[full_name] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Admin]    Script Date: 7/7/2026 10:52:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admin](
	[username] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CostPolicy]    Script Date: 7/7/2026 10:52:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CostPolicy](
	[costID] [int] IDENTITY(1,1) NOT NULL,
	[entrance_fee] [money] NULL,
	[hourly_fee] [money] NULL,
	[managed_by] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[costID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LogTraffic]    Script Date: 7/7/2026 10:52:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LogTraffic](
	[username] [varchar](20) NOT NULL,
	[event_time] [datetime] NOT NULL,
	[action_description] [varchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[username] ASC,
	[event_time] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Operator]    Script Date: 7/7/2026 10:52:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Operator](
	[username] [varchar](20) NOT NULL,
	[join_date] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OperatorShift]    Script Date: 7/7/2026 10:52:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OperatorShift](
	[operator_id] [varchar](20) NOT NULL,
	[expected_startTime] [datetime] NOT NULL,
	[expected_endTime] [datetime] NOT NULL,
	[realized_startTime] [datetime] NULL,
	[realized_endTime] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[operator_id] ASC,
	[expected_startTime] ASC,
	[expected_endTime] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Owner]    Script Date: 7/7/2026 10:52:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Owner](
	[username] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OwnerReviewsShiftReq]    Script Date: 7/7/2026 10:52:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OwnerReviewsShiftReq](
	[owner_id] [varchar](20) NOT NULL,
	[reqID] [int] NOT NULL,
	[status] [varchar](8) NOT NULL,
	[feedback] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[reqID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ShiftChangeReq]    Script Date: 7/7/2026 10:52:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShiftChangeReq](
	[reqID] [int] IDENTITY(1,1) NOT NULL,
	[operator_id] [varchar](20) NOT NULL,
	[type] [varchar](6) NOT NULL,
	[reason] [varchar](max) NULL,
	[expected_startTime] [datetime] NOT NULL,
	[expected_endTime] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[reqID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Spot]    Script Date: 7/7/2026 10:52:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Spot](
	[location] [char](4) NOT NULL,
 CONSTRAINT [PK__Spot__412AE05DCFC0B868] PRIMARY KEY CLUSTERED 
(
	[location] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WagePolicy]    Script Date: 7/7/2026 10:52:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WagePolicy](
	[wageID] [int] IDENTITY(1,1) NOT NULL,
	[hourly_wage] [money] NULL,
	[deduction_rate] [money] NULL,
	[managed_by] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[wageID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Admin]  WITH CHECK ADD FOREIGN KEY([username])
REFERENCES [dbo].[Account] ([username])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CostPolicy]  WITH CHECK ADD FOREIGN KEY([managed_by])
REFERENCES [dbo].[Owner] ([username])
ON UPDATE CASCADE
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Operator]  WITH CHECK ADD FOREIGN KEY([username])
REFERENCES [dbo].[Account] ([username])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OperatorShift]  WITH CHECK ADD FOREIGN KEY([operator_id])
REFERENCES [dbo].[Operator] ([username])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Owner]  WITH CHECK ADD FOREIGN KEY([username])
REFERENCES [dbo].[Account] ([username])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OwnerReviewsShiftReq]  WITH CHECK ADD FOREIGN KEY([owner_id])
REFERENCES [dbo].[Owner] ([username])
GO
ALTER TABLE [dbo].[OwnerReviewsShiftReq]  WITH CHECK ADD FOREIGN KEY([reqID])
REFERENCES [dbo].[ShiftChangeReq] ([reqID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ShiftChangeReq]  WITH CHECK ADD FOREIGN KEY([operator_id], [expected_startTime], [expected_endTime])
REFERENCES [dbo].[OperatorShift] ([operator_id], [expected_startTime], [expected_endTime])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Vehicle]  WITH CHECK ADD  CONSTRAINT [FK__Vehicle__locatio__4CA06362] FOREIGN KEY([location])
REFERENCES [dbo].[Spot] ([location])
ON UPDATE CASCADE
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Vehicle] CHECK CONSTRAINT [FK__Vehicle__locatio__4CA06362]
GO
ALTER TABLE [dbo].[WagePolicy]  WITH CHECK ADD FOREIGN KEY([managed_by])
REFERENCES [dbo].[Owner] ([username])
ON UPDATE CASCADE
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[OperatorShift]  WITH CHECK ADD CHECK  (([expected_endTime] IS NULL OR [expected_startTime] IS NULL OR [expected_endTime]>[expected_startTime]))
GO
ALTER TABLE [dbo].[OperatorShift]  WITH CHECK ADD CHECK  (([realized_endTime] IS NULL OR [realized_startTime] IS NULL OR [realized_endTime]>[realized_startTime]))
GO
ALTER TABLE [dbo].[OwnerReviewsShiftReq]  WITH CHECK ADD CHECK  (([status]='denied' OR [status]='accepted'))
GO
ALTER TABLE [dbo].[ShiftChangeReq]  WITH CHECK ADD CHECK  (([type]='delete' OR [type]='change'))
GO
/****** Object:  StoredProcedure [dbo].[RegisterVehicleExit]    Script Date: 7/7/2026 10:52:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RegisterVehicleExit]
    @plate_number CHAR(11)
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON; 

    DECLARE @entrance_time DATETIME;
    DECLARE @exit_time DATETIME = GETDATE(); 
    DECLARE @entrance_fee MONEY;
    DECLARE @hourly_fee MONEY;
    DECLARE @duration_hours INT;
    DECLARE @total_cost MONEY;

    SELECT @entrance_time = entrance_time 
    FROM Vehicle 
    WHERE plate_number = @plate_number;

    IF @entrance_time IS NULL
    BEGIN
        RAISERROR('این ماشین در پارکینگ یافت نشد!', 16, 1);
        RETURN;
    END

    SELECT TOP 1 @entrance_fee = entrance_fee, @hourly_fee = hourly_fee 
    FROM CostPolicy 
    ORDER BY costID DESC; 

    IF @entrance_fee IS NULL OR @hourly_fee IS NULL
    BEGIN
        RAISERROR('هیچ تعرفه‌ی قیمتی (CostPolicy) در سیستم تعریف نشده است!', 16, 1);
        RETURN;
    END

    SET @duration_hours = CEILING(DATEDIFF(MINUTE, @entrance_time, @exit_time) / 60.0);
    
    SET @total_cost = @entrance_fee + (@duration_hours * @hourly_fee);

    BEGIN TRANSACTION;
    BEGIN TRY
        INSERT INTO LogVehicle (plate_number, entrance_time, exit_time, cost_paid)
        VALUES (@plate_number, @entrance_time, @exit_time, @total_cost);

        DELETE FROM Vehicle WHERE plate_number = @plate_number;

        COMMIT TRANSACTION;

        SELECT 
            @entrance_time AS EntranceTime,
            @exit_time AS ExitTime,
            @duration_hours AS DurationHours,
            @total_cost AS TotalCost;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;
        THROW;
    END CATCH
END;
GO
USE [master]
GO
